<html>
  <head>
    <title>Dataset</title>
    <link rel="stylesheet" href="../static/datastyle.css" />
  </head>
  <body>
    <header>
      <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/searchpage">Search By County</a></li>
        <li><a href="/definitions">Definitions</a></li>
        <li><a href="/dataset">Dataset</a></li>
      </ul>
    </nav>
    </header>
    <h1>Education Gap in Minnesota</h1>
    <p> Page not found. Add /ses/<countyname> or /scores/<countyname> (Do not put space between county names) to the end of the url with a valid MN county name</p>
    </div>
  </body>
</html>
