<html>
  <head>
    <title>Dataset</title>
    <link rel="stylesheet" href="../static/datastyle.css" />
  </head>
  <body>
    <header>
      <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/searchpage">Search By County</a></li>
        <li><a href="/definitions">Definitions</a></li>
        <li><a href="/dataset">Dataset</a></li>
      </ul>
    </nav>
    </header>
    <h1>Education Gap in Minnesota</h1>
    <div>
      <h2>Definitions</h2>

      <div>
        <h3>Socioeconomic status is calculated using data regarding:</h3>
        <ul>
        <li>Income</li>
        <li>Percentage of adults age 25 and older with a bachelor’s degree or higher</li>
        <li>Poverty rate among households with children age 5–17</li>
        <li>Percentage of households receiving benefits from the Supplemental Nutrition Assistance Program (SNAP)</li>
        <li>Percentage of households headed by single mothers, Employment rate for adults age 25–64</li>
        </ul> 

        </div>
        
        <div>
            <h3>Test Scores:</h3>
            <li> The average test score indicates how well the average student in a school, district, or county performs on standardized tests. </li>
        </div>
    </div>
  </body>
</html>
