<html>

<head>
  <title>Education gap in Minnesota</title>
  <link rel="stylesheet" href="../static/datastyle.css" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/searchpage">Search By County</a></li>
        <li><a href="/definitions">Definitions</a></li>
        <li><a href="/dataset">Dataset</a></li>
      </ul>
    </nav>
  </header>
  <h1>Education Gap in Minnesota</h1>
  <div>
    <p>Within the United States education system, there is an education gap between low-income and high-income
      schools.</p>

    <p>This project aims to bring light to issues regarding unequal socioeconomic status and test scores in Minnesota
      counties. </p>
  </div>
  <div>
    <a href="/searchpage"><button class = "button"><span>Search By County</span></button></a>
    
  </div>
</body>

</html>