<html>

<head>
  <title>Dormy</title>
  <link rel="stylesheet" href="../static/datastyle.css" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/searchpage">Search By Building</a></li>
        <li><a href="/dataset">Data Source</a></li>
      </ul>
    </nav>
  </header>
  <h1>Dormy</h1>
  <div>
    <p>It's hard to decide which dorm rooms are the best.</p>

    <p>But we made it easier by letting you choose what buildings you like and sorting the dorm rooms for you. </p>
  </div>
  <div>
    <a href="/searchpage"><button class = "button"><span>Search By Building</span></button></a>
    
  </div>
</body>

</html>