<html>

<head>
  <title>Dormy</title>
  <link rel="stylesheet" href="../static/datastyle.css" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/searchpage">Search By Building</a></li>
        <li><a href="/dataset">Data Source</a></li>
      </ul>
    </nav>
  </header>
  <h1>Dormy</h1>
  <div>
    <p>
      You can use this search tool to look up dorms in Carleton buildings sorted by largest area.
      
    </p>
  </div>
  <div>
    <form action="/building_results">
      <label for="bulding">Select a building:</label>
      <select id="buildingname" name="buildingname" required>
        <option value="" disabled selected>--</option>
        {% for building in dorms %}
        <option value="{{ building }}">{{ building }}</option>
        {% endfor %}
      </select>
      <input id = "submit" type="submit" value="Submit" />
    </form>
  </div>
</body>

</html>